name: CI pipeline

on: 
    push: 
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Dependencies
              uses: actions/setup-node@v4
              with:
                node-version: 20
                cache: "npm"
            - name: Install Dependencies
              run: npm ci

            - name: Run Check Lint
              run: npm run lint
            
            - name: Run Tests
              run: npm run test
            
            - name: Run Build
              run: npm run build